@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;700&family=Fraunces:wght@700&display=swap");

@media (max-width: 1024px) {
  .box-header {
    height: 1100px;
  }

  .top-nav h1 {
    font-size: 4rem;
  }

  .top-box {
    padding: 8rem 5rem 5rem;
  }

  .top-box h1 {
    font-size: 5rem;
  }

  .top-box img {
    width: 12%;
    padding-top: 5rem;
  }

  .box-1 {
    grid-template-areas:
      "Egg"
      "Transform"
      "Glass"
      "Stand"
      "Graphic"
      "Photograpy";
  }

  .box-2 {
    padding: 8rem 6rem;
    text-align: center;
  }

  .box-2 h2 {
    font-size: 4rem;
  }

  .box-2 p {
    font-size: xx-large;
    line-height: 50px;
  }

  .box-2 button {
    font-size: xx-large;
  }

  .box-4,
  .box-5 {
    height: 1200px;
  }

  .box-45,
  .box-55 {
    padding: 50rem 2rem 0;
  }

  .box-45 p,
  .box-55 p {
    font-size: xx-large;
    line-height: 50px;
    font-weight: 500;
  }

  .box-45 h2,
  .box-55 h2 {
    font-size: 80px;
  }

  .box-6 {
    padding: 2rem;
  }

  .box-6 h3 {
    font-size: xx-large;
  }

  .box-7 {
    flex-direction: column;
  }

  .box-8 {
    padding: 4rem;
  }

  .box-8 img {
    width: 144px;
  }

  .box-8 p {
    line-height: 4rem;
  }

  .box-8 p,
  .box-8 h4,
  .box-8 h5 {
    font-size: xx-large;
  }

  .box-9 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(2, 376px);
  }

  .box-9 img {
    object-fit: cover;
  }

  .footer {
    padding: 8rem 2rem;
  }

  .footer-nav {
    justify-content: space-between;
    width: 80%;
    padding-top: 5rem;
  }

  .footer h2 {
    font-size: 60px;
  }

  .footer-nav h5 {
    font-size: xx-large;
  }

  .footer .icon {
    width: 50%;
    justify-content: space-between;
    padding: 10rem 0 0;
  }

  .icon i {
    font-size: 40px;
  }
}

@media (min-width: 1025px) {
  .box-header {
    height: 702px;
  }

  .top-nav h1 {
    font-size: xx-large;
  }

  .top-box {
    padding-top: 4rem;
  }

  .top-box img {
    width: 4%;
    padding-top: 4rem;
  }

  .box-1 {
    grid-template-areas:
      "Transform Egg"
      "Glass  Stand"
      "Graphic  Photograpy";
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3, 525px);
  }

  .box-2 {
    padding: 7rem;
    text-align: start;
  }

  .box-2 h2 {
    font-size: 40px;
  }

  .box-45,
  .box-55 {
    padding: 22rem 9rem 0;
  }

  .box-6 {
    padding: 7rem;
  }

  .box-8 {
    padding: 0 1.5rem;
  }

  .box-8 img {
    width: 72px;
  }

  .box-9 {
    display: flex;
    flex-wrap: nowrap;
  }

  .box-9 img {
    width: 25%;
  }

  .footer {
    padding: 3rem 3rem 1.5rem;
  }

  .footer h2 {
    font-size: xx-large;
  }

  .footer-nav {
    justify-content: space-evenly;
    width: 25%;
    padding-top: 1.5rem;
  }

  .footer .icon {
    width: 10%;
    justify-content: space-evenly;
    padding: 3.5rem 0 2rem;
  }
}

body {
  margin: 0;
  text-align: center;
}

h1,
h2,
h4,
h5 {
  margin: 0;
}

p {
  line-height: 1.7rem;
}

.container {
  display: grid;
}

.box-header {
  background-image: url("./images/Orange\ Slice.png");
  background-size: cover;
  width: 100%;
  color: white;
}

.top-nav {
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
}
.top-nav i {
  width: 7rem;
}

.myLinks {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.myLinks a {
  text-decoration: none;
  font-size: large;
}

.link {
  color: white;
}

.myButton {
  background-color: white;
  border-radius: 28px;
  cursor: pointer;
  color: black;
  font-family: "Fraunces", serif;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
}
.myButton:hover {
  background-color: #78cdf5;
  color: white;
}

.myButton:active {
  position: relative;
  top: 1px;
}

.top-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Fraunces", serif;
  letter-spacing: 0.5rem;
  font-size: xx-large;
}

.box-1 {
  display: grid;
}

.box-1 #Transform {
  grid-area: Transform;
}

.box-1 #Egg {
  grid-area: Egg;
}
.box-1 #Glass {
  grid-area: Glass;
}
.box-1 #Stand {
  grid-area: Stand;
}
.box-1 #Graphic {
  grid-area: Graphic;
}
.box-1 #Photograpy {
  grid-area: Photograpy;
}

.box-2 h2 {
  font-family: "Fraunces", serif;
}

.box-2 p {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  color: #808397;
}

.box-3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.box-4 {
  background-image: url("./images/Cherry.png");
  background-size: cover;
}

.box-45 h2,
.box-45 p {
  color: #24554a;
}

.box-45 p,
.box-55 p {
  font-family: "Barlow", sans-serif;
}

.box-45 h2,
.box-55 h2 {
  font-family: "Fraunces", sans-serif;
}

.box-55 h2 {
  color: #052c3b;
}

.box-55 p {
  color: #19536c;
}

.box-5 {
  background-image: url("./images/Orange.png");
  background-size: cover;
}

.box-6 h3 {
  padding-bottom: 2rem;
  font-family: "Fraunces", serif;
  color: #a7aaad;
  letter-spacing: 0.3rem;
}

.box-7 {
  display: flex;
  justify-content: center;
}

.box-8 img {
  border-radius: 100%;
}

.box-8 p {
  padding-top: 2rem;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  color: #5b636d;
}

.box-8 h4 {
  padding: 2rem 0 0.5rem;
  font-family: "Fraunces", serif;
}

.box-8 h5 {
  color: #a7aaad;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
}

.footer {
  background-color: #90d4c6;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Barlow", sans-serif;
}

.footer h2 {
  color: #2c7566;
  font-weight: 700;
}

.footer-nav {
  display: flex;
  color: #458d7e;
  font-weight: 500;
}

.footer .icon {
  display: flex;
  color: #2c7566;
}
